	body{
		font-family: 'Berkeley Mono', Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
		box-sizing: border-box;
		max-width: 100%;
		line-height: 2;
		background-color: #f5f0f0;
		letter-spacing: 2px;
	}

	.all{
		margin: 2vw;
	}
	
	h1{
		font-weight: normal;
	}

	@media screen and (min-width: 900px)
	{

	body{
		margin-left: 10vw;
		margin-right:10vw;
	}

	.top-bar{
	background-color: white;
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  justify-content: center;
	}

	.logo{
		font-size: 4vh;
		background-color: white;
		/*border: 2px solid black;*/
		text-align: center;
	}

	.links{
		border: 1px solid black;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.links a{
		font-size: 4vh;
		color: black;
		text-decoration: overline;
	}

	.links a:hover{
		font-size:220%;
	}

	.main{
		background-color: white;
		display: grid;
		grid-template-columns: 1fr 1fr ;
		margin-top: 3vh;
	}

	.image {
		background-color: white;
		display:flex;
		align-items: center;
		justify-content: space-around;
	}

	.information{
		background-color: white;
	}
 
}

/* 650px to 900px */

	@media screen and (max-width: 900px )  and (min-width: 650px)
	{

	.top-bar{
		background-color: white;
	  display: grid;
	  grid-template-columns: 1fr;
	  justify-content: center;
	}

	.logo{
		font-size: 2.5vh;
		background-color: white;
		border: 1px solid black;
		text-align: center;
	}

	.links{
		height: 15vh;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.links a{
		font-size: 3.5vh;
		color: black;
		text-decoration: overline;
	}

	.main{
		background-color: white;
		display: grid;
		grid-template-columns: 1fr  ;
		margin-top: 3vh;
	}

	.image {
		margin-top: 4vh;
		background-color: white;
		display:flex;
		align-items: center;
		justify-content: space-around;
	}
	.content{
		margin-top: 3vh;
	}

	.information{
		background-color: white;
	}
}


/* 0 to 650px */
@media screen and (max-width: 650px ) 
	{

	.top-bar{
		background-color: white;
	  display: grid;
	  grid-template-columns: 1fr;
	  justify-content: center;
	}

	.logo{
		font-size: 2.7vh;
		background-color: white;
		border: 1px solid black;
		text-align: center;
	}

	.links{
		height: 15vh;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.links a{
		font-size: 3.5vh;
		color: black;
		text-decoration: overline;
	}

	.main{
		background-color: white;
		display: grid;
		grid-template-columns: 1fr  ;
		margin-top: 3vh;
	}

	.image {
		margin-top: 4vh;
		background-color: white;
		display:flex;
		align-items: center;
		justify-content: space-around;
	}
	.content{
		margin-top: 3vh;
	}

	.information{
		background-color: white;
	}
}

	.foot{
		display:grid;
		align-items: center;
		justify-content: center;
	}

	.copyright , .name{
		display:grid;
		align-items: center;
		justify-content: center;
	}


